<div>
  <nav>
    <ul>
      <li><a routerLink="">HOME</a></li>
      <li><a routerLink="/new-product">NUEVO PRODUCTO</a></li>
      <li><a routerLink="/products">PRODUCTOS</a></li>
      <li><a routerLink="">CART</a></li>
    </ul>
  </nav>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 pt-4" >
      <div class="card">
        <img src="" alt="foto" />
        <div class="card-body text-center">
          <h5 class="card-tittle">
            TITULO
          </h5>
          <p>PRECIO </p>
          <p> DESCRIPCION</p>
          <button class="btn btn-primary" routerLink="detail/:id">Detalles</button>
        </div>
      </div>
    </div>
  </div>
</div>
