<div class="container">
  <div class="row">
    <div class="col-md-3 pt-4" *ngFor="let product of products">
      <div class="cardprod">
        <img [src]="product?.photos[0] ? product?.photos[0].location : 'https://commercial.bunn.com/img/image-not-available.png'" alt="foto" />
        <div class="card-body text-center" >
          <div>
            <h5 class="card-tittle">
              {{product.name}}
            </h5>
            <p>{{product.price}} </p>
            <hr>
            <p>{{product.description}}</p>
            <button class="btn btn-primary" [routerLink]="['detail', product._id]">Detalles</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
