<div class="container">
  <div class="card text-center mt-2">
    <h3>¡¡¡NEW PRODUCTS!!!</h3>
  </div>
  <div class="row">
    <div class="col-md-3 pt-4" *ngFor="let product of products">
      <div class="cardprod">
        <img [src]="product?.photos[0] ? product?.photos[0].location : 'https://commercial.bunn.com/img/image-not-available.png'" alt="foto" />
        <div class="card-body text-center" >
          <div>
            <h5 class="card-tittle">
              {{product.name}}
            </h5>
          </div>
          <div class="precio">
            <span>{{product.price|currency:'USD'}} </span>
            <span *ngIf="product.discount!==null" >-{{product.discount}}%</span>
              <hr>
              <p>{{product.description}}</p>
              <hr>
              <p>Tags: {{product.tags}} </p>
              <p *ngIf="product.freeShipping==true" >FreeShipping: Yes</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
